
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-size: 16px; */
}
body{
    background: #fafafa;
    height: 100%;
    font-family: 'Rubik', sans-serif;
}
.top-bg{
    background: linear-gradient(0deg, rgba(136,56,240,1) 20%, rgba(233,66,240,1) 100%);
    height: 90%;
    width: 25%;
    border-bottom-left-radius: 180px;
    border-bottom-right-radius: 180px;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
}
.bottom-bg{
    background: linear-gradient(0deg, rgb(191, 148, 247) 20%, rgb(254, 227, 255) 80%);
    height: 80%;
    width: 22%;
    border-top-left-radius: 180px;
    z-index: -1000;
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: 0.1;
}
.content{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mobile{
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 0 10% 0 15%;
    margin-top: 5%;

}
.mobile-content{
    /* justify-content: space-around; */
    background-color: white;
    justify-self: flex-start;
    height: fit-content;
    width: 17rem;
    position: relative;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 10px 10px 10px 5px hsla(0, 0%, 0%, 0.055);
}
.mobile-content *{
    font-size: 9px;
}
.mc{
    height: 100%;
    width: 100%;
    background-color: hsl(270, 20%, 96%);
    position: relative;
    border-radius: 20px;
    padding: 0 0 3% 0;
    left: 0;
    top: 0;
}
.mobile-head{
    width: 100%;
    background: linear-gradient(90deg, rgba(136,56,240,1) 0%, rgba(233,66,240,1) 100%);
    position: relative;
    border-radius: 20px 20px 5px 5px;
    font-size: 15px;
    
}
.mobile-head *{
    font-size: 10px;
}
.notch{
    width: 100px;
    height: 15px;
    border-radius: 0 0 15px 15px;
    position: relative;
    margin: 0 auto;
    background-color: #fafafa;
}
.mh-content{
    color: white;
    display: flex;
    padding: 4% 4%;
}
.mh-left{
    display: flex;
    align-items: center;
    width: 90%;
    position: relative;
    height: 100%;
    /* margin: 4% 0 0 0; */
}
.mh-left *{
    padding-left: 3%;
}
.about *{
    padding: 0;
    margin: 0;
    /* font-size: 12px; */
}
.name{
    font-weight: 500;
}
.status{
    color: hsla(0, 0%, 89%, 0.795);
}
.avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid white;
    margin-left: 5px;
}
.mh-right{
    position: relative;
    height: 100%;
    margin: 4% 0 0 0;
}
/* mobile body */
.mobile-body{
    width: 100%;
    position: relative;
    padding: 3%;
    display: flex;
    flex-direction: column;
}
.chat-left,.chat-left-duty{
    
    
    margin: 0 0 3% 0;
    border-radius: 10px 10px 10px 0;
}
.chat-left-duty{
    width: 80%;
    padding: 0.4rem;
}
.chat-left-duty .cld1{
    width: 90%;
    display: flex;
    align-items: center;
}
.radio{
    position: relative;
    width: 15px;
    height: 15px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 5px;
}
.chat-left{
    background-color: hsl(275, 100%, 94%);
    width: 70%;
    padding: 0.7rem;
}
.chat-left p{
    /* font-size: 12px; */
    color: hsl(276, 55%, 52%);
    margin: 0;
    
}
.chat-left-duty{
    color: white;
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, rgba(233,66,240,1)  0%, rgba(136,56,240,1) 100%);
}
.chat-right{
    text-align: right;
    width: 100%;
}
.chat-right p{
    /* font-size: 12px; */
    margin: 0;
    
}
.chat-right .cr{
    float: right;
    width: fit-content;
    background-color: white;
    padding: 10px;
    margin: 0 0 3% 0;
    border-radius: 10px 10px 0 10px;
    box-shadow: 10px 10px 10px 5px hsla(0, 0%, 0%, 0.055);

    
}
.price{
    margin-right: 10px;
    font-weight: 700;
}
.imgies img{
    width: 20%;
    border-radius: 10px;
    padding-right: 5px;
    margin-bottom: 3%;
}

.mobile-footer{
    
    width: 93%;
    border-radius: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3% 5%;
    margin: 0 auto;
}
.mobile-footer span{
    font-size: 10px;
    color: hsl(270, 7%, 64%);
}
.fa-angle-right{
    background-color: black;
    color: white;
    padding: 10px 12px;
    border-radius: 50%;
}
.description h1{
    color: hsl(271, 36%, 24%);
}
.description p{
    color: hsl(270, 7%, 64%);
}
.attribution{
    margin: 5% 0 0 0;
}
